.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  min-width: 50%;
  width: 500px;
}

.display {
  padding: 15px;
  font-size: 20px;
  background: #dddddd;
}
button {
  appearance: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 10px;
}
button:hover {
  background-color: #999999;
}
.operators {
  display: flex;
}
.operators button {
  flex: 1 1 25%;
}
.digits {
  display: flex;
  flex-wrap: wrap;

}
.digits button{
  flex: 1 1 33%
}